

$screen-md-min:992px;
$main-text:#8f918f;
$main-line:#c0c0c0;

/**
 *     公共样式
 * */
body{
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
                color: $main-text;
}
/**
 *     头部样式
 * */
#main_head{
    .topbar{
        border-bottom: 1px solid #C0C0C0;
        .container > .row>div{
            height: 40px;
            line-height: 40px;
            border-right: 1px solid #C0C0C0;
            text-align: center;
            font-size: 12px;
            color: $main-text;
            span{
                color: #888888;
            }
            a{
                text-decoration: none;
                color: $main-text;
            }
            &:last-child{
                .btn-danger{
                    background-color: #e92322;
                    color: white;
                }
                border-right: none;
            }
        }
        .container > .row>div:nth-child(1):hover{
            &::after{
                display: block;
            }
        }
        .container > .row>div:nth-child(1)::after{
            content: "";
            width: 120px;
            height: 136px;
            content: url(../images/c_06.jpg);
            display: none;
            position: absolute;
            left: 50%;
            margin-left: -60px;
        }
    }
    nav{
        top: 0;
        width: 100%;
        .container{
            .navbar-header{
                color: #e92322;
                span{
                    line-height: 80px;
                    font-size: 45px;
                    margin-right: 10px;
                }
                a{
                    font-style:italic;
                    color: #333333;
                    font-size: 30px;
                    line-height: 50px;
                }
                .navbar-toggle{
                    margin-top: 22px;
                }
            }
            .navbar-nav{
                margin: 0;
                .active a,a:hover{
                    background-color: transparent;
                    border-bottom: 2px solid #e92322;
                }
                a{
                    line-height: 50px;
                    font-size: 14px;
                }
            }
        }
    }
}
/**
 *     头部样式
 * */
#carousel{
    .carousel-inner{
        .item{
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
}
@media (min-width: 768px) {
    .carousel-inner{
        .item{
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 410px;
        }
    }
}
#special{
    padding: 50px 0;
    .container{
        .row{
            margin-right: 0;
            margin-left: 0;
            .col-sm-6,.col-md-4{
                padding: 20px 0;
                .media{
                    a{
                        text-decoration: none;
                        color: #888;
                        &:hover{
                            color: #666;
                        }
                        .media-left{
                            span{
                                font-size: 34px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#appointment{
    border-top: 1px solid $main-line;
    p{
        margin-bottom: 0;
    }
    .container{
        padding: 20px 20px;
        color: #333;
        .spc-warning,.spc-appoint{
            color: red;
        }
        .spc-appoint{
            border-bottom: 1px dashed red;
            text-decoration: none;
        }
        .spc-video{
            float: right;
        }
    }
}
#tab_card{
    border-top: 1px solid $main-line;
    padding: 40px 0;
    background-color: #f0f0f0;
    .container{
        .nav-tabs{
            padding-left: 20px;
            li{
                a{
                    font-size: 16px;
                    color: #333;
                    border: none; 
                    &:hover{
                    color: #000;
                        border-color: transparent;
                    }
                }
                &.active{
                    a{
                        border-bottom: 4px solid red;
                        background-color: transparent;
                        border-radius: 0;
                    }
                }
            }
        }
        .tab-content{
            .col-xs-12{
                margin-bottom: 20px;
            }
            padding: 20px 0;
            .ticket{
                height: 160px;
                width: 360px;
                background-color: red;
                text-align: center;
                color: white;
                box-shadow: 1px 1px 5px #ccc;
                .tic-header{
                    border-left: 1px dashed white;
                    width: 120px;
                    float: right;
                    position: relative;
                    padding: 40px 0;
                    strong{
                        font-size: 30px;
                    }
                    p{
                        font-size: 16px;
                    }
                    &::after,&::before{
                        content: "";
                        height: 16px;
                        width: 16px;
                        background-color: #f0f0f0;
                        border-radius: 8px;
                        position: absolute;
                    }
                    &::after{
                        top: -8px;
                        left: -8px;
                    }
                    &::before{
                        top: 152px;
                        left: -8px;
                        box-shadow: 0px 4px 1px #ccc inset;
                    }
                }
                .tic-body{
                    padding: 15px;
                    height: 160px;
                    margin-right: 120px;
                    &::before{
                        content: "体验";
                        font-size: 16px;
                        height: 25px;
                        line-height: 25px;
                        width: 90px;
                        color: red;
                        background-color: #f0f0f0;
                        position: absolute;
                        transform: rotate(-45deg);
                        left: -9px;
                        bottom: 127px;
                        border-radius: 50% 50% 0 0;
                    }
                    .row{
                        .col-style{
                            p{
                                margin-bottom: 0;
                            }
                            margin-bottom: 10px;
                        }
                    }                
                }
            }
            .tic-inverse{
                background-color: #fff;
                color: #777;
                .badge-tips{
                    position: absolute;
                    background-color: transparent;
                    width: 100%;
                    top: 20px;
                    a{
                        text-shadow: 1px 1px 2px #8f918f;
                        padding: 4px;
                        font-size: 14px;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    .badge-one{
                        border: 1px solid #e92322;
                        color: #e92322;
                    }
                    .badge-two{
                        border: 1px solid #399;
                        color: #399;
                    }
                }
            }
        }
    }
}
#news{
    border-top: 1px solid $main-line;
    padding: 40px 0;
    .col-sm-offset-3,.col-md-offset-3{
        p{
            font-size: 18px;
            text-align: center;
            padding: 15px 0;
            border-bottom: 1px dashed $main-line;
            position: relative; 
            &::after{
                content: "";
                height: 10px;
                width: 10px;
                border-radius: 50%;
                border: 1px solid $main-line;
                position: absolute;
                left: 100%;
                top: 50px;
            }
        }
    }
    .col-sm-2,.col-md-1{
        .nav-stacked{
            li{
                span{
                    padding: 10px 6px;
                    font-size: 28px;
                    color: $main-line;
                }
                &.active{
                    span{
                        color: white;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px){
    #news{
        .row{
            .col-sm-2,.col-md-1{
                padding-bottom: 10px;
                padding-top: 10px;
                .nav-stacked{
                    text-align: center;
                    li{
                        //float: left;
                        display: inline-block;
                    }
                }
            }
        }
    }
    #cooperation{
        .container{
            ul{
                padding-left: 0; 
                li:nth-child(3n){
                    a{
                        border-right: none;
                    }
                }
            }
        }
    }
} 

#cooperation{
    border-top: 1px solid $main-line;
    padding: 40px 0;
    .container{
        h3{
            text-align: center;
            margin-bottom: 40px;
        }
        ul{
            text-align: center;
            li{
                display: inline-block;
                &:last-child{
                    a{
                        border-right: none;
                    }
                }
                a{
                    color: $main-text;
                    font-size: 50px;
                    border-right: 1px dashed $main-line;
                    line-height: 50px;
                    padding: 10px 25px;
                    &:hover{
                        color: red;
                    }
                }
                list-style-type: none;
            }
        }
    }
}
/**
 *     底部样式
 * */
#main_foot{
    height: 200px;
    background-color: transparent;
}
