

$screen-md-min:992px;
$main-text:#8f918f;

/**
 *     公共样式
 * */
body{
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
/**
 *     头部样式
 * */
#main_head{
    height: 200px;
    background-color: pink;
    .topbar{
        border-bottom: 1px solid #C0C0C0;
        .container > .row>div{
            height: 40px;
            line-height: 40px;
            border-right: 1px solid #C0C0C0;
            text-align: center;
            font-size: 12px;
            color: $main-text;
            span{
                color: #888888;
            }
            a{
                text-decoration: none;
                color: $main-text;
            }
            &:last-child{
                .btn-danger{
                    background-color: #e92322;
                    color: white;
                }
                border-right: none;
            }
        }
        .container > .row>div:nth-child(1):hover{
            &::after{
                display: block;
            }
        }
        .container > .row>div:nth-child(1)::after{
            content: "";
            width: 120px;
            height: 136px;
            content: url(../images/c_06.jpg);
            display: none;
            position: absolute;
            left: 50%;
            margin-left: -60px;
        }
    }
}
@media (max-width: $screen-md-min) {
    #main_head>.topbar{
        display: none;
    }
}
//.row>div:nth-child(2){
//  height: 40px;
//  background-color: lightblue;
//}
//.row>div:nth-child(3){
//  height: 40px;
//  background-color: red;
//}
//.row>div:nth-child(4){
//  height: 40px;
//  background-color: lightcyan;
//}
/**
 *     头部样式
 * */
section:nth-of-type(2n+1){
    height: 200px;
    background-color: #f0f0f0;
}
section:nth-of-type(2n){
    height: 200px;
    background-color: white;
}
/**
 *     底部样式
 * */
#main_foot{
    height: 200px;
    background-color: deepskyblue;
}
